////
/// Classes
/// -> Helper classes. Can be created by extending placeholders
/// @group Classes
////

%clear {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

%start-hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease,
              visibility 1s ease;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
