////
/// Classes
/// -> Helper classes. Can be created by extending placeholders
/// @group Classes
////

%clear {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

%fade-transition {
  transition: opacity $msuxf-transition-duration $msuxf-transition-timing,
              visibility $msuxf-transition-duration $msuxf-transition-timing;
}

%start-hidden {
  @extend %fade-transition;

  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
