<!DOCTYPE html>
<html lang="en" manifest="appcache.php">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MS Intranet</title>
  <!-- Application Manifest -->
  <link rel="manifest" href="/manifest.webmanifest">
  <!-- Basic Metadata -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="" />
  <!-- Open Graph metatags -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="" />
  <!-- Stylesheets and polyfills -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400|Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://makingsense.com/apple-touch-icon-144x144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://makingsense.com/apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://makingsense.com/apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://makingsense.com//apple-touch-icon-57x57-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="https://makingsense.com/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="https://makingsense.com/apple-touch-icon.png" />
  <link rel="icon" type="image/x-icon" href="https://makingsense.com/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="https://makingsense.com/favicon.ico" />
  <!-- Add brand color -->
  <meta name="msapplication-TileColor" content="#5da552">
  <meta name="msapplication-TileImage" content="https://makingsense.com/apple-touch-icon-144x144-precomposed.png">
</head>