<!-- Header -->
<header id="header" class="main-header">
  <div class="header-widgets">
    <div id="offline-indicator" class="offline-indicator" title="Offline"></div>
    <div id="weather" class="weather" title="Loading...">
      <div class="weather__tile weather__temp">...</div>
      <div class="weather__tile weather__temp">...</div>
    </div>
  </div>
  <div class="main-logo">
    <img src="img/ms-logo.svg" alt="MS">
    <span class="logo-description">|&nbsp;&nbsp;&nbsp;Intranet</span>
  </div>
  <div class="greeting">
    <p>Good <span class="weekday"></span> {{first_name}}! <span class="motto">Find what you need, right when you need it!</span></p>
  </div>
</header>
<!-- /End of Header -->
