<!-- Footer -->
<footer id="footer" class="main-footer">
  <ul class="mobile-toolbar">
    <li class="mobile-toolbar__button" data-mobile="links">
      <a href="#" class="mobile-menu-links">
        <i class="ms-icon icon-mobile-toolbar-links"></i>
      </a>
    </li>
    <li class="mobile-toolbar__button active" data-mobile="news">
      <a href="#" class="mobile-menu-news" >
        <i class="ms-icon icon-mobile-toolbar-news"></i>
        <span class="unread-news-count"></span>
      </a>
    </li>
    <li class="mobile-toolbar__button" data-mobile="info">
      <a href="#" class="mobile-menu-info">
        <i class="ms-icon icon-mobile-toolbar-info"></i>
      </a>
    </li>
  </ul>
</footer>
<!-- /End of Footer -->
