.news-filters {
  float: right;
  padding-top: 5px;

  .select-filter {
    display: inline-block;
    background: #5da552;
    border-radius: 12.5px;

    select {
      background: transparent;
      line-height: 25px;
      color: #fff;
      font-weight: $msuxf-font-weight-semibold;
      font-size: torem(12px);
      min-width: 100px;
      appearance: none;
      padding: 0 10px;
      outline: none;
      border: 0;
    }
  }
}

.news {

  h1 {
    color: #000;
    margin-bottom: torem(50px);
  }

  &__news {
    transition: opacity 1s ease, color 2s ease;
    opacity: 1;
    color: #534d48;
    position: relative;
    padding-left: 55px;
    padding-bottom: calc(26px + 35px);
    overflow: hidden;
    color: #534D48;
    font-size: torem(16px);

    &.unread {
      display: none;
      opacity: 0;
      color: #ebbf2f;
    }

    &:after {
      content: '';
      position: absolute;
      left: 55px;
      bottom: 35px;
      width: 120px;
      border-bottom: 1px solid #9b9b9b;
    }

    .content {
      margin-bottom: 16px;

      p {
        line-height: 1.25;
        margin-bottom: 16px;
      }
    }

    time {
      font-weight: $msuxf-font-weight-semibold;
      font-size: torem(12px);
      color: #9B9B9B;
      letter-spacing: 0;
      line-height: 15px;
      text-transform: uppercase;
    }

    picture {
      position: absolute;
      left: 0;
      top: 0;

      img {
        border-radius: 50%;
        max-width: 40px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__last {
    color: #ccc;
    position: relative;
    text-align: center;
    margin-top: torem(40px);

    &:before {
      content: '';
      position: absolute;
      bottom: calc(50% - 2px);
      left: 0;
      right: 0;
      border-bottom: 1px solid #ddd;
    }

    span {
      display: inline-block;
      padding: 10px 20px;
      background: #fff;
      position: relative;
    }
  }
}

.newmessages {
  transition: all 2s ease;
  position: fixed;
  visibility: hidden;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  min-width: 40px;
  border-radius: 20px;
  background: #ffc413;
  color: #000;
  text-align: center;
  line-height: 40px;
  padding: 0 10px;
  font-size: 12px;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &:after {
    content: '';
    position: absolute;
    top: -8px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffc413;
  }
}