.news-filters {
  float: right;
  padding-top: 5px;
  visibility: none;
  opacity: 0;
  transition: opacity 1s ease, visibility 1s ease;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .select-filter {
    display: inline-block;
    border-radius: 12.5px;
    background: #5da552;

    select {
      min-width: 100px;
      padding: 0 10px;
      color: #fff;
      border: 0;
      outline: none;
      background: transparent;
      font-size: torem(12px);
      font-weight: $msuxf-font-weight-semibold;
      line-height: 25px;
      appearance: none;
    }
  }
}

.news {
  h1 {
    margin-bottom: 0;
    color: #000;
    text-align: left;
  }

  &__notifications {
    position: relative;
    margin-bottom: torem(50px);

    .new-messages {
      position: absolute;
      z-index: 99;
      top: torem(5px);
      display: block;
      visibility: hidden;
      width: 100%;
      transition: opacity 1s ease, visibility 1s ease, top .25s ease;
      text-align: center;
      opacity: 0;
      color: #fff;
      border-radius: 13px;
      background: #744a93;
      font-size: 14px;
      line-height: 26px;

      &.active {
        visibility: visible;
        opacity: 1;
      }

      &.sticky-docked {
        position: fixed;
        top: torem(25px);
        width: inherit;
      }
    }
  }

  &__news {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(26px + 35px);
    padding-left: 55px;
    transition: opacity 1s ease, color 2s ease;
    opacity: 1;
    color: #534d48;
    font-size: torem(16px);

    &.unread {
      display: none;
      opacity: 0;
      color: #ebbf2f;
    }

    &:after {
      position: absolute;
      bottom: 35px;
      left: 55px;
      width: 120px;
      content: '';
      border-bottom: 1px solid #9b9b9b;
    }

    .content {
      margin-bottom: 16px;

      p {
        margin-bottom: 16px;
        line-height: 1.25;
      }
    }

    time {
      letter-spacing: 0;
      text-transform: uppercase;
      color: #9b9b9b;
      font-size: torem(12px);
      font-weight: $msuxf-font-weight-semibold;
      line-height: 15px;
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;

      img {
        max-width: 40px;
        border-radius: 50%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--last {
    position: relative;
    margin-top: torem(40px);
    text-align: center;
    color: #ccc;

    &:before {
      position: absolute;
      right: 0;
      bottom: calc(50% - 2px);
      left: 0;
      content: '';
      border-bottom: 1px solid #ddd;
    }

    span {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      background: #fff;
    }
  }
}

.scrolltop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  visibility: hidden;
  min-width: 40px;
  padding: 0 10px;
  transition: all 2s ease;
  text-align: center;
  opacity: 0;
  color: #000;
  border-radius: 20px;
  background: #ffc413;
  font-size: 12px;
  line-height: 40px;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &:after {
    position: absolute;
    top: -8px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    content: '';
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffc413;
    border-left: 10px solid transparent;
  }
}
