
.wqlinks {

  &__list {
    a {
      display: inline-block;
      margin-bottom: 14px;
      text-align: left;
      letter-spacing: 0;
      text-transform: uppercase;
      color: #fff;
      font-size: torem(12px);
      font-weight: $msuxf-font-weight-semibold;
    }
  }

  &__feedback {
    margin-top: 32px;
  }
}
