
.wqlinks {
  &__list {
    a {
      font-weight: $msuxf-font-weight-semibold;
      font-size: torem(12px);
      color: #FFFFFF;
      letter-spacing: 0;
      margin-bottom: 14px;
      text-transform: uppercase;
      text-align: left;
      display: inline-block;
    }
  }
}