.wsocial {
  &__list {
    text-align: left;

    a {
      display: inline-block;
      color: #fff;
      margin-right: 15px;
      margin-bottom: 15px;
      font-size: 36px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}