<article class="article article-wide aabout">
  <h2>About Making Sense</h2>
  <ul class="aabout__list">
    <li><a href="https://makingsense.com/about-us" target="_blank">Our Story</a></li>
    <li><a href="https://makingsense.com/about-us" target="_blank">Core Values</a></li>
    <li><a href="https://makingsense.com/about-us" target="_blank">Company Chart</a></li>
    <li><a href="https://makingsense.com/about-us" target="_blank">Mission &amp; Vision</a></li>
    <li><a href="https://makingsense.com/about-us#meet-all-of-us" target="_blank">Our People</a></li>
  </ul>
</article>

<div class="articles articles-split">
  <article class="article article-small apositions">
    <h2>MS Open<br>Positions</h2>
    <div class="article__details">
      Check it out!<br>
      10% referral bonus
    </div>
    <a href="https://makingsense.com/careers#view-job-openings" class="link" target="_blank">
      Open Positions
    </a>
  </article>
  <article class="article article-small aonboarding">
    <h2>Recently<br>arrived?</h2>
    <div class="article__details">
      New at Making Sense?<br>
      Go through the onboarding
    </div>
    <a href="#" class="link">
      MS Onboarding
    </a>
  </div>
</article>

<article class="article article-wide abirthdays" id="birthdays-widget">
  <h2>Upcoming birthdays</h2>
  <ul class="abirthdays__list"></ul>
  <div id="birthday-template" style="display: none;">
    <picture><img img-src="{{birthday_pic}}"></picture>
    <div class="abirthdays__detail">
      <p>{{firstNames}} {{lastName}}</p>
      <time datetime="{{birthday_number}}">{{birthday_text}}</time>
    </div>
  </div>
</article>
