<article class="article article-wide aabout">
  <h2>About Making Sense</h2>
  <ul class="aabout__list">
    <li><a href="#">Our Story</a></li>
    <li><a href="#">Core Values</a></li>
    <li><a href="#">Company Chart</a></li>
    <li><a href="#">Mission &amp; Vision</a></li>
    <li><a href="#">Our People</a></li>
  </ul>
</article>

<div class="articles articles-split">
  <article class="article article-small apositions">
    <h2>MS Open Positions</h2>
    <div class="article__details">
      Check it out!<br>
      10% referral bonus
    </div>
    <a href="#" class="link">
      Open Positions
    </a>
  </article>
  <article class="article article-small aonboarding">
    <h2>Recently arrived?</h2>
    <div class="article__details">
      New at Making Sense?<br>
      Go through the onboarding
    </div>
    <a href="#" class="link">
      MS Onboarding
    </a>
  </div>
</article>

<article class="article article-wide abirthdays">
  <h2>Upcoming birthdays</h2>
  <ul class="abirthdays__list">
    <li>
      <picture><img src="img/fake-birthday-01.png"></picture>
      <div class="abirthdays__detail">
        Celeste Senoseain
        <time datetime="11-03">November 3th</time>
      </div>
    </li>
    <li>
      <picture><img src="img/fake-birthday-02.png"></picture>
      <div class="abirthdays__detail">
        Ignacio Crespo
        <time datetime="11-04">November 3th</time>
      </div>
    </li>
    <li>
      <picture><img src="img/fake-birthday-03.png"></picture>
      <div class="abirthdays__detail">
        Lucas Sánchez
        <time datetime="11-06">November 3th</time>
      </div>
    </li>
  </ul>
</article>
