<div class="news-filters">
  <span class="select-filter">
    <select id="news-filter">
      <option value="default">Filter by</option>
    </select>
 </span>
</div>
<h1>Get the latest news!</h1>
<div class="news__notifications sticky-base"><a href="#" id="new-messages" class="new-messages sticky">0 new messages</a></div>
<id="new-messages" class="new-messages"></id>
<div class="news__list" id="news-list"></div>
<div class="news__end news--loading">
    <div class="news--last news-loading"><span>Loading...</span></div>
</div>
<div class="news__end news--nodata" style="display: none;">
    <div class="news--last news-loading"><span>No previous news</span></div>
</div>
<div id="news-template" style="display: none;">
  <div class="news__news {{cat}} {{class}}" news-id="{{row_id}}" publisher-id="{{publisher_id}}">
    <picture><img src="{{avatar_pic}}" alt="{{publisher.firstNames}} {{publisher.lastName}}"></picture>
    <div class="content">{{html_content}}</div>
    <time utc="{{date_utc}}">{{date_relative}}</time>
  </div>
</div>
<a href="#" id="scrolltop" class="scrolltop"></a>
