<div class="news">
  <div class="news__filters">
    <span class="select-filter">
      <select id="news-filter">
        <option value="default">Filter by month</option>
      </select>
    </span>
  </div>
  <h1>Get the latest news!</h1>
  <div class="news__notifications sticky-base"><a href="#" id="new-messages" class="new-messages sticky">0 new messages</a></div>
  <id="new-messages" class="new-messages"></id>
  <div class="news__list" id="news-list"></div>
  <div class="news__end news__end--loading">
    <div class="ruler">
      <div class="loader">
        <div class="loader__container">
          <div class="loader__dot"></div>
          <div class="loader__dot"></div>
          <div class="loader__dot"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="news__end news__end--nodata">
    <div class="ruler"><span>No previous news</span></div>
  </div>
  <div id="news-template" style="display: none;">
    <article class="news__message {{cat}} {{class}}" news-id="{{row_id}}" publisher-id="{{publisher_id}}">
      <picture><img img-src="{{avatar_pic}}" title="{{publisher.firstNames}} {{publisher.lastName}}" alt="Profile pic"></picture>
      <div class="content">
        <h1>{{title}}</h1>
        {{html_content}}
      </div>
      <time utc="{{date_utc}}">{{date_relative}}</time>
    </article>
  </div>
  <a href="#" id="scrolltop" class="scrolltop"></a>
</div>