<div class="widget wqlinks">
  <h2>Quick Links</h2>
  <ul class="wqlinks__list">
    <li>
      <a href="#">MS Brand Manual</a>
    </li>
    <li>
      <a href="#">MS Branding Assets</a>
    </li>
    <li>
      <a href="#">Doppler Brand Manual</a>
    </li>
    <li>
      <a href="#">Doppler Branding Assets</a>
    </li>
    <li>
      <a href="#">Printers Set Up</a>
    </li>
    <li>
      <a href="#">Phone Extensions</a>
    </li>
    <li>
      <a href="#">Frequently Asked Questions</a>
    </li>
  </ul>
</div>