<div class="widget wqlinks">
  <h2>Quick links</h2>
  <ul class="wqlinks__list">
    <li>
      <a href="http://confluence.makingsense.com/display/UD/MS+Branding+assets" target="_blank">MS Brand Manual</a>
    </li>
    <li>
      <a href="http://confluence.makingsense.com/display/UD/MS+Branding+assets" target="_blank">MS Branding Assets</a>
    </li>
    <li>
      <a href="#" target="_blank">Doppler Brand Manual</a>
    </li>
    <li>
      <a href="#" target="_blank">Doppler Branding Assets</a>
    </li>
    <li>
      <a href="#" target="_blank">Printers Set Up</a>
    </li>
    <li>
      <a href="https://docs.google.com/spreadsheets/d/13jlpLrxnNkEahJFN0aIDZkxDXPnl6BUjj42zGdVvl10/edit#gid=0" target="_blank">Phone Extensions</a>
    </li>
    <li>
      <a href="#" target="_blank">Frequently Asked Questions</a>
    </li>
    <li class="wqlinks__feedback">
      <a href="mailto:hello@makingsense.com">Send Feedback</a>
    </li>
  </ul>
</div>