<div class="widget wsocial">
  <h2>Quick Links</h2>
  <div class="wsocial__list">
    <a href="https://www.linkedin.com/company/making-sense-llc" target="_blank"><i class="ms-icon icon-social-linkedin"></i></a>
    <a href="https://www.facebook.com/MakingSenseApps" target="_blank"><i class="ms-icon icon-social-facebook"></i></a>
    <a href="https://twitter.com/MakingSenseApps" target="_blank"><i class="ms-icon icon-social-twitter"></i></a>
    <a href="https://www.youtube.com/user/MakingSenseApps" target="_blank"><i class="ms-icon icon-social-youtube"></i></a>
  </dic>
</div>