<div class="widget wtools">
  <h2>Tools</h2>
  <ul class="wtools__list">
    <li>
      <a href="#" target="_blank">
        <i class="ms-icon icon-tools-generic"></i>
        <span class="icon-label">Services</span>
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <i class="ms-icon icon-tools-doppler"></i>
        <span class="icon-label">Doppler</span>
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <i class="ms-icon icon-tools-generic"></i>
        <span class="icon-label">Commons</span>
      </a>
    </li>
    <li>
      <a href="http://makingsense.harvestapp.com" target="_blank">
        <i class="ms-icon icon-tools-harvest"></i>
        <span class="icon-label">Harvest</span>
      </a>
    </li>
    <li>
      <a href="https://makingsense.slack.com" target="_blank">
        <i class="ms-icon icon-tools-slack"></i>
        <span class="icon-label">Slack</span>
      </a>
    </li>
    <li>
      <a href="http://jira.makingsense.com" target="_blank">
        <i class="ms-icon icon-tools-jira"></i>
        <span class="icon-label">Jira</span>
      </a>
    </li>
    <li>
      <a href="https://commonjobs.makingsense.com/MyMenu" target="_blank">
        <i class="ms-icon icon-tools-menu"></i>
        <span class="icon-label">My Menu</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/makingsense" target="_blank">
        <i class="ms-icon icon-tools-github"></i>
        <span class="icon-label">GitHub</span>
      </a>
    </li>
  </ul>
</div>