////
/// Base File
/// Init css basic settings
/// @group Base
////

@import "./reset";
@import "./settings";
@import "./typography";

* { box-sizing: Border-box }

html, body {
  font-family: $msuxf-font-family;
  color: $msuxf-font-color;
  font-size: $msuxf-font-size;
  min-height: 100%;
}

a {
  text-decoration: none;
  transition: all $msuxf-transition-duration $msuxf-transition-timing;

  &:focus {
    outline: none;
  }
}

img:not(.not-fluid) {
  max-width: 100%;
}
