////
/// Settings File
/// Init fonts, backgrounds, wrappers, breakpoints and Transition variables
/// @group Settings
////

/// Fonts ///
///
$msuxf-font-size: 10px !default;
///
$msuxf-font-weight: 400 !default;
///
$msuxf-font-family: 'Open Sans', sans-serif !default;
///
$msuxf-font: $msuxf-font-weight $msuxf-font-size $msuxf-font-family !default;
///
$msuxf-font-weight-light: 300 !default;
///
$msuxf-font-weight-regular: $msuxf-font-weight !default;
///
$msuxf-font-weight-semibold: 600 !default;
///
$msuxf-font-weight-bold: 700 !default;
///
$msuxf-font-color: #534D48 !default;
///
$msuxf-font-color-bright: #edede6 !default;
///
$msuxf-font-color-dark: $msuxf-font-color !default;
///
$msuxf-font-color-white: #fff !default;

/// Background ///
///
$msuxf-background: $msuxf-font-color-bright !default;
///
$msuxf-background-bright: $msuxf-background !default;

/// Wrapper ///
///
$msuxf-wrapper-min-width: torem(1200px) !default;

/// Breakpoints ///
///
$msuxf-breakpoints: (
  'xlarge': (min-width: 1281px),
  'large': (max-width: 1280px),
  'medium': (max-width: 1024px),
  'small': (max-width: 800px),
  'xsmall': (max-width: 640px),

  'desktop-fhd': (min-width: 1919px),
  'ipad': (min-width: 1023px, max-width: 1024px),
  'iphone': (max-width: 979px)
) !default;

/// Transition/Animation ///
///
$msuxf-transition-duration: 0.25s !default;
///
$msuxf-transition-timing: ease !default;


// General site settings
$site-bg-color: #f2f2f2;
$ms-green: #5da552;
$ms-green-dark: #447e36;
