////
/// Typography
/// Init typography basic settings
/// @group Typography
////

@import "./settings";

html,
button {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: $msuxf-font;
  font-weight: 400;
  color: $msuxf-font-color;
}

strong {
  font-weight: $msuxf-font-weight-bold;
}