html {
  overflow: hidden;
  overflow-y: auto;
}

html,
body {
  background: $site-bg-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-size: torem(36px);
}

h2 {
  margin-bottom: torem(20px);
  font-size: torem(24px);
}

.main-page {
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -1;
}

.show-online {
  @extend %fade-transition;

  visibility: visible;
  opacity: 1;
}

.show-offline {
  @extend %fade-transition;

  visibility: hidden;
  opacity: 0;
}

.offline {
  .show-online {
    visibility: hidden;
    opacity: 0;
  }

  .show-offline {
    visibility: visible;
    opacity: 1;
  }
}