/*
@include respond-to('large') {
  html, body {
    font-size: $msuxf-font-size * .6;
  }
}
*/

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: torem(20px);
}
