////
/// Home
/// @group Home
/// @author MS
////

.main-layout {
  //min-height: calc(100% - #{torem(80px)});
  display: flex;
  text-align: justify;
  font-size: torem(16px);
}

aside {
  .widget {
    margin-bottom: torem(72px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.left__panel {
  flex: 0 0 26%;
  width: 26%;
  padding-right: torem(40px);
  background-image: linear-gradient(30deg, #a88cc5 0%, #744a93 76%);

  h2 {
    color: #fff;
  }

  &.linkscroll-linked {
    .panel__inner {
      width: calc(26% - #{torem(40px)});
    }
  }

  .toolbar-modules {
    padding: torem(75px) 14.89% 0 21.28%;

    @include respond-to('large') {
      padding-left: 14.89%;
    }
  }
}

.right__panel {
  flex: 0 0 32.8%;
  width: 32.8%;
  padding-left: torem(40px);
  padding-right: 0;

  &.linkscroll-linked {
    .panel__inner {
      width: calc(32.8% - #{torem(40px)});
    }
  }


}

.news__panel {
  flex: 0 0 calc(100% - 32.8% - 26%);
  position: relative;
  padding-top: 30px;
}

.news__inner {
  padding: torem(30px);
  position: relative;
  left: torem(-40px);
  right: torem(-40px);
  bottom: 0;
  background: #fff;
  box-shadow: 0 15px 40px 0 rgba(0,0,0,0.31);
  width: calc(100% + #{torem(40px)} * 2);
  z-index: 3;
}
