////
/// Home
/// @group Home
/// @author MS
////

$left-panel-width: 26%;
$right-panel-width: 32.8%;

.main-layout {
  display: flex;
  text-align: justify;
  font-size: torem(16px);
}

aside {
  .widget {
    margin-bottom: torem(72px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.left__panel {
  flex: 0 0 #{$left-panel-width};
  width: #{$left-panel-width};
  padding-right: torem(40px);
  background-image: linear-gradient(30deg, #a88cc5 0%, #744a93 76%);

  h2 {
    color: #fff;
  }

  .panel__inner {
    background-image: linear-gradient(0deg, #a88cc5 0%, #744a93 76%);
  }

  .panel__inner.linkscroll-linked {
    width: calc(#{$left-panel-width} - #{torem(40px)});
  }

  .toolbar-modules {
    padding: torem(75px) calc(13% + #{torem(40px)}) torem(75px) 15%;

    @include respond-to('large') {
      padding-left: 14.89%;
    }
    @include respond-to('small') {
      padding: torem(50px) 12%;
      text-align: center;
    }
  }
}

.right__panel {
  flex: 0 0 #{$right-panel-width};
  width: 32.8%;
  padding-right: 0;
  padding-left: torem(40px);

  .panel__inner.linkscroll-linked {
    width: calc(#{$right-panel-width} - #{torem(40px)});
  }
}

.news__panel {
  position: relative;
  flex: 0 0 #{100% - $left-panel-width - $right-panel-width};
  padding-top: 30px;
}

.news__inner {
  position: relative;
  z-index: 10;
  right: torem(-40px);
  bottom: 0;
  left: torem(-40px);
  width: calc(100% + #{torem(40px)} * 2);
  min-height: 200vh;
  padding: torem(45px) torem(50px) torem(30px) torem(45px);
  background: #fff;
  box-shadow: 0 15px 40px 0 rgba(0,0,0,.31);
}
