////
/// Home
/// @group Home
/// @author MS
////

.main-layout {
  min-height: calc(100% - #{torem(80px)});
  display: flex;
  background: #f2f2f2;
  text-align: justify;
  font-size: 16px;
}

aside {
  padding: 0 torem(20px);

  .widget {
    margin-bottom: torem(72px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.left__panel {
  flex: 0 1 500px;
  padding: torem(75px) 5.21% 0 5.21%;
  background-image: linear-gradient(30deg, #a88cc5 0%, #744a93 76%);

  h2 {
    color: #fff;
  }

  @include respond-to('medium') {
    padding: torem(75px) torem(50px) 0 torem(20px);
  }
}

.right__panel {
  flex: 0 1 610px;
  padding-left: torem(30px);
  padding-right: 0;
}

.news__panel {
  flex: 1 0 480px;
  position: relative;
}

.news__inner {
  padding: torem(30px);
  position: absolute;
  top: 30px;
  left: torem(-30px);
  right: torem(-30px);
  bottom: 0;
  background: #fff;
  box-shadow: 0 15px 40px 0 rgba(0,0,0,0.31);
}
