////
/// Header
/// @group Header
/// @author MS
////

header {
  @include respond-to('medium') {
    padding: torem(10px) torem(40px);
  }
  @include respond-to('large') {
    padding: 10px 3.125%;
  }

  position: relative;
  z-index: 1;
  overflow: hidden;
  height: torem(80px);
  padding: 10px 5.2%;
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.10);
  font-size: torem(16px);
  font-weight: $msuxf-font-weight-bold;

  .main-logo {
    @include respond-to('medium') {
      .logo-description {
        display: none;
      }
    }

    float: left;
    height: torem(60px);

    img {
      display: inline-block;
      width: torem(60px);
      vertical-align: middle;
    }

    .logo-description {
      margin-left: 18px;
    }
  }

  .header-widgets {
    position: relative;
    float: right;
  }

  .greeting {
    @include respond-to('xsmall') {
      display: none;
    }
    @include respond-to('xsmall') {
      display: none;
    }
    @extend %start-hidden;

    display: table;
    width: calc(100% - #{torem(400px)});
    height: torem(60px);
    margin: 0 torem(200px);

    p {
      @include respond-to('medium') {
        .motto {
          display: none;
        }
      }

      display: table-cell;
      text-align: center;
      vertical-align:  middle;
      color: $msuxf-font-color;
      font-family: $msuxf-font-family;
      font-size: torem(16px);
      font-weight: $msuxf-font-weight-bold;
    }
  }

  .offline-indicator {
    @extend %fade;
    @extend .icon-offline;

    position: absolute;
    top: 10px;
    right: 20px;
    visibility: hidden;
    opacity: 0;

    &:before {
      opacity: .3;
      color: #b33a3a;
      font-family: 'icon-font';
      font-size: 40px;
    }
  }
}

.offline .offline-indicator {
  visibility: visible;
  opacity: 1;
}
