////
/// Header
/// @group Header
/// @author MS
////

header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: torem(80px);
  padding: 10px 5.2%;
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.10);
  font-size: torem(16px);
  font-weight: $msuxf-font-weight-bold;

  @include respond-to('medium') {
    padding: torem(10px) torem(40px);
  }
  @include respond-to('large') {
    padding: 10px 3.125%;
  }

  .main-logo {
    float: left;
    height: torem(60px);

    @include respond-to('medium') {
      .logo-description {
        display: none;
      }
    }

    img {
      display: inline-block;
      width: torem(60px);
      vertical-align: middle;
    }

    .logo-description {
      margin-left: 18px;
    }
  }

  .weather-widget {
    float: right;
    padding: torem(10px);

    img {
      width: torem(90px);
    }
  }

  .greeting {
    display: table;
    width: calc(100% - #{torem(400px)});
    height: torem(60px);
    margin: 0 torem(200px);

    @include respond-to('xsmall') {
      display: none;
    }

    p {
      display: table-cell;
      text-align: center;
      vertical-align:  middle;
      color: $msuxf-font-color;
      font-family: $msuxf-font-family;
      font-size: torem(16px);
      font-weight: $msuxf-font-weight-bold;

      @include respond-to('medium') {
        .motto {
          display: none;
        }
      }
    }
  }
}
