////
/// Header
/// @group Header
/// @author MS
////

$user-dropdown-shadow: 0 0 7px 0 rgba(0,0,0,0.50);

header {
  @include respond-to('medium') {
    padding: torem(10px) torem(15px);
  }

  position: relative;
  height: torem(80px);
  padding: torem(10px) torem(30px);
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.10);
  font-size: torem(16px);
  font-weight: $msuxf-font-weight-bold;

  .main-logo {
    @include respond-to('medium') {
      .logo-description {
        display: none;
      }
    }

    display: block;
    float: left;
    height: torem(60px);
    color: $msuxf-font-color;
    font-weight: $msuxf-font-weight-bold;

    img {
      display: inline-block;
      width: torem(60px);
      vertical-align: middle;
    }

    .logo-description {
      margin-left: 18px;
    }
  }

  .header-widgets {
    position: relative;
    float: right;
    padding-top: 10px;

    &__panel {
      @extend %fade-transition;

      float: right;
      height: 40px;
      margin-left: 30px;
      color: $msuxf-font-color;
      font-size: 30px;
    }

    .user-panel {
      position: relative;

      &__pic {
        display: block;

        img {
          width: torem(40px);
          border-radius: (torem(40px) / 2);
        }
      }

      &__dropdown {
        background: #fff;
        box-shadow: $user-dropdown-shadow;
        position: absolute;
        right: 0;
        top: calc(100% + 20px);
        display: flex;
        padding: torem(40px) torem(26px) torem(32px);
        z-index: 100;

        &:before {
          content: '';
          background: #fff;
          position: absolute;
          top: -8px;
          right: 12px;
          width: 16px;
          height: 16px;
          transform: rotate(45deg);
          box-shadow: $user-dropdown-shadow;
          z-index: 1;
        }

        &:after {
          content: '';
          background: #fff;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          transform: rotate(0);
          z-index: 2;
        }
      }

      &__large-pic,
      &__details {
        z-index: 3;
      }

      &__large-pic {
        padding-right: torem(26px);

        img {
          @include respond-to('xsmall') {
            max-width: torem(80px);
          }

          max-width: torem(120px);
          border-radius: 50%;
          display: block;
        }
      }

      &__details {
        color: $msuxf-font-color;
        //background: #fff;
      }

      &__name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      &__email {
        font-size: 16px;
        margin-bottom: 30px;
      }

      &__actions {
        a {
          display: inline-block;
          padding: 0 torem(50px);
          color: $msuxf-font-color-white;
          border-radius: (38px / 2);
          background: $msuxf-font-color;
          font-size: 12px;
          line-height: torem(38px);
        }
      }
    }
  }

  .greeting {
    @extend %start-hidden;
    @include respond-to('xsmall') {
      display: none;
    }

    display: table;
    width: calc(100% - #{torem(400px)});
    height: torem(60px);
    margin: 0 torem(200px);

    p {
      @include respond-to('medium') {
        .motto {
          display: none;
        }
      }

      display: table-cell;
      text-align: center;
      vertical-align:  middle;
      color: $msuxf-font-color;
      font-family: $msuxf-font-family;
      font-size: torem(16px);
      font-weight: $msuxf-font-weight-bold;
    }
  }

  .offline-indicator {
    @extend .icon-offline;

    position: absolute;
    top: 18px;
    right: 20px;
    visibility: hidden;
    opacity: 0;

    &:before {
      opacity: .3;
      color: #b33a3a;
      font-family: 'icon-font';
      font-size: 40px;
    }
  }
}
