<!-- build:include partials/_head.html --><!-- /build -->
<body>
  <!-- build:include partials/_header.html --><!-- /build -->

  <div class="main-layout">
    <aside class="panel left__panel">
      <!-- build:include modules/_news.html --><!-- /build -->
    </aside>
    <div class="panel news__panel">
      <main class="news__inner">fsfd
      </main>
    </div>
    <aside class="panel right__panel">
    </aside>
  </div>
  <!-- build:include partials/_scripts.html --><!-- /build -->
</body>
</html>
