<div class="news__news">
  <picture><img src="../img/dummy-news-avatar-01.png"></picture>
  <div class="content">
    <p><b>EMMS is coming!</b> Reserve your place.</p>
  </div>
  <time datetime="2017-11-02">1 minute ago</time>
</div>
<div class="news__news">
  <picture><img src="../img/dummy-news-avatar-02.png"></picture>
  <div class="content">
      <p>September salaries are available. Receipts of salary available and those who are not in the offices, will be sent by mail.</p>
  </div>
  <time datetime="2017-11-02">3 days ago</time>
</div>
<div class="news__news">
  <picture><img src="../img/dummy-news-avatar-01.png"></picture>
  <div class="content">
    <p>New feature released! Automation for Doppler.</p>
    <img src="../img/dummy-news-pic.png">
  </div>
  <time datetime="2017-11-02">1 month ago</time>
</div>
<div class="news__news">
  <picture><img src="../img/dummy-news-avatar-03.png"></picture>
  <div class="content">
    <p>New Open Position: <b>Senior React Native Developer.</b></p>
  </div>
  <time datetime="2017-11-02">3 month ago</time>
</div>
<div class="news__news">
  <div class="content">
    <p><b>Happy Birthday, María Eugenia Rodriguez!</b></p>
  </div>
  <time datetime="2017-04-04">04/04/2017</time>
</div>
<div class="news__news">
  <picture><img src="../img/dummy-news-avatar-04.png"></picture>
  <div class="content">
    <p><b>New UX Case Study: Duracell.</b> Our team worked very hard for this project. Now you can witness the new objectives achieved and the process they have carried out.</p>
  </div>
  <time datetime="2017-04-04">02/04/2017</time>
</div>
